* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --error-text: #ff6347;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-row > label {
  margin-bottom: 0.25rem;
}

.error {
  display: none;
}

.error.active {
  display: block;
  color: var(--error-text);
}

.submit-btn {
  width: 100%;
}

/* DIALOG STYLINGS */

.dialog {
  height: clamp(150px, 60vw, 250px);
  border-radius: 1rem;
  margin: revert;
}

.dialog-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.dialog-icon {
  font-size: 2rem;
}
