* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --error-text: #ff6347;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-row > label {
  margin-bottom: 0.25rem;
}

.error {
  display: none;
}

.error.active {
  display: block;
  color: var(--error-text);
}

.submit-btn {
  width: 100%;
}
